{{ define "main" }}
<section>
  <a href="/" class="button back-button">zur Hauptseite</a>
  <h2>{{ .Title}}</h2>
  <p>
    {{ index .Site.Data.wochentage (printf "%s" .Date.Weekday) }},
    {{ .Date.Day }}.
    {{ index .Site.Data.monate (printf "%d" .Date.Month) }}
    {{ .Date.Format " 2006" }}
    um
    {{ .Params.zeit}}
    Uhr
  </p>
  {{ .Content }}
</section>
{{ end }}