=col2
  padding: 2.5vmax
  width: calc(100% / 2)
  @media #{$mobile}
    width: 100%

.col2-left
  +col2
  background-color: $alpha-white
  background-image: url('/img/logo-bub-berlin.png')
  background-repeat: no-repeat
  background-origin: content-box
  background-position: top right
  background-size: 5em

.col2-right
  +col2
  background-color: $alpha-green