<footer id="footer">
  <div class="contact">
    <p><strong>Über uns:</strong></h5>

    <p>Bits &amp; Bäume Plattform Berlin ist eine Initiative des
    AStA TU Berlin Wissenschafts- und Technikkritikreferats
    in Kooperation mit dem Baumhaus-Projektraum.
    Wir organisieren eine lokale Plattform
    für Austausch und Zusammenarbeit von unten
    für eine nachhaltige Digitalisierung in Berlin.</p>

    <p>Das Kernteam von Bits &amp; Bäume Berlin besteht aktuell aus
    Karen Wohlert, Patrick Luzina, Mathias Renner und Marius Ferdin.</p>

    <p class="submenu">
      <a href="{{ ref . "datenschutz"}}">Datenschutzerklärung</a>
      <a href="{{ ref . "impressum"}}">Impressum</a>
    </p>

    <p class="funding-note">
      <a href="https://gitlab.com/bub-berlin/website" target="_blank">Quellcode
      auf GitLab</a>
    </p>
  </div>
</footer>