<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {{- $css := resources.Get "css/styles.sass" | toCSS | minify | fingerprint -}}
  <link rel="stylesheet" href="{{ $css.RelPermalink }}">
  {{ $title := print .Title " | " .Site.Title }}
  {{ if .IsHome }}
    {{ $title = .Site.Title }}
  {{ end }}
  <title>{{ $title }}</title>
</head>