{{ define "main" }}
{{ $title := . }}
{{ $news := .Site.GetPage "/veranstaltungen/videocall_und_schreibtools" }}
{{ $conference := .Site.GetPage "/conference" }}
<main id="grid">
  <section class="col2-left">
    <h2 class="header">{{ $title.Title }}</h2>
    {{ $title.Content | markdownify }}
  </section>
  <section class="col2-right">
    <h2>Neuigkeiten und Veranstaltungen der Berliner-Plattform</h2>
    <h3>{{ $news.Title }}</h3>
    {{ $news.Content | markdownify }}
  </section>
</main>
<aside>
  <section>
    <h2>{{ $conference.Title }}</h2>
    {{ $conference.Content | markdownify }}
  </section>
</aside>
{{ end }}